{% extends 'front.html.twig' %}


{% block body %}
    <section class="testimonial-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <span>Testimonial</span>
                        <h2>Our cilent say</h2>
                    </div>
                </div>
            </div>
            <div class="ts_slider owl-carousel">
                <div class="ts_item">
                    <div class="row">
                        <tbody>
                        {% for i in p %}
                        <div class="col-lg-12 text-center">
                            <div class="ti_pic">
                                <img src="front/img/testimonial/testimonial-1.jpg" alt="">
                            </div>
                            <div class="ti_text">
                                <h5>{{ i.redacteurPub|title }}</h5>
                                <p>{{ i.contenu }}</p>
                                <p>{{ i.datePub|format_datetime(locale='en')}}</p>
                                <p>{{ i.note }}</p>
                                         <!--Like-->
                                <a href="{{ path('PosteLike',{'id':i.id}) }}" class="btn btn-link js-like">
                                {% if app.user and i.isLikeByUser(app.user) %}
                                    <i class="fas fa-thumbs-up" ></i>
                                {% else %}
                                    <i class="far fa-thumbs-up" ></i>
                                {% endif %}
                                <span class="js-likes">{{ i.yes | length }}</span>
                                <span class="js-label">J'aime</span>
                                </a>
                                         <!--Like-->
                                <td class="table-light"><img src="{{ asset('/uploads/' ~ i.image ) }}" alt="img" class="image" style="max-height: 150px; width: 120px;" ></td>
                                <div class="tt-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <td>
                                    <form action="{{ path('suppfronP',{'id':i.id}) }}">
                                        <button>Supprimer</button></form>
                                    <form action="{{ path('modiffronP',{'id':i.id}) }}">
                                        <button>Modifier</button></form>

                                </td>
                                <a href="/ajoutfronC" class="primary-btn btn-normal appoinment-btn">Commenter</a>
                            </div>
                        </div>
                        {% endfor %}
                        </tbody>
                    </div>
                </div>
            </div>
            <!-- start Gist JS code-->
            <script>
                (function(d,h,w){var gist=w.gist=w.gist||[];gist.methods=['trackPageView','identify','track','setAppId'];gist.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);gist.push(e);return gist;}};for(var i=0;i<gist.methods.length;i++){var c=gist.methods[i];gist[c]=gist.factory(c)}s=d.createElement('script'),s.src="https://widget.getgist.com",s.async=!0,e=d.getElementsByTagName(h)[0],e.appendChild(s),s.addEventListener('load',function(e){},!1),gist.setAppId("g4dngrqb"),gist.trackPageView()})(document,'head',window);
            </script>
            <!-- end Gist JS code-->
            <!--Like-->
            <script>
                function onClickBtnLike(event){
                    event.preventDefault();
                    const url=this.href;
                    const spanCount=this.querySelector('span.js-likes');
                    const icone= this.querySelector('i');
                    axios.get(url).then(function (response){
                        spanCount.textContent=response.data.likes;
                        if (icone.classList.contains('fas'))
                            icone.classList.replace('fas','far');
                        else
                            icone.classList.replace('far','fas');
                    })
                }
                document.querySelectorAll('a.js-like').forEach(function (link){
                    link.addEventListener('click',onClickBtnLike);
                })
            </script>
            <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
            <!--Like-->

            <!--commentaire-->
            <script>
                $(document).ready(function(){
                    $('.classbutton'). on('click', function() {

                        var idp=this.id;
                        $("#"+this.id).click(function(){
                            var x = document.getElementById("ca"+idp);

                            if (x.style.display === "none") {
                                x.style.display = "block";
                            } else {
                                x.style.display = "none";
                            }



                            //********************************post************

                            $(".btnso"+idp).click(function(e)
                            {e.preventDefault();
                                var formData  =$("#fofo"+idp).serialize(); //data mn formulaire
                                let idart = idp;
                                // let user = $("#user").val();
                                var msg = $("#inputc"+idp).val();
                                console.log(idart);
                                // let date = $("#nom").text();
                                $.ajax({
                                    url:" http://localhost:8000/ajoutfronC/"+msg+"/"+idart,
                                    type:"post",
                                    data:formData,
                                    success:function(dataBack)
                                    {
                                    }, error: function (xhr, status, error)
                                    {
                                        console.log(error);
                                    }
                                });
                                $('#inputc'+idp).val("");
                                document.getElementById("textid").value = "";
                            });



                            //********************************finpost************

                            //get Information for commentaire
                            setInterval(function () {
                                let idarticle = idp;
                                $.ajax({
                                    url:"http://127.0.0.1:8000/publication/commentaire/"+idarticle,
                                    type: "get",
                                    dataType: "json",
                                    cache: false,
                                    success: function (data , status) {
                                        console.log(data)
                                        let l = data.length;
                                        console.log(l,"taille");
                                        var MSG="";
                                        for (let i =0; i < l; i++){
                                            MSG +=    " <div class='d-flex flex-row p-3'> <img src='/FrontOffice/assets/img/testimonial/author.png' width='40' height='40' class='rounded-circle mr-3'>"+
                                                " <div class='w-100'>"+
                                                "     <div class='d-flex justify-content-between align-items-center'>"+
                                                "      <div class='d-flex flex-row align-items-center'> <span class='mr-2'>&nbsp;&nbsp;login</span>&nbsp;&nbsp; <small class='c-badge'>Top Comment</small> </div> <small>date</small> </div>"+


                                                "  <p class='text-justify comment-text mb-0'>"+data[i].Description+"</p>"+


                                                " <div class='d-flex flex-row user-feed'>&nbsp;&nbsp; <span class='wish'><i class='fa fa-heartbeat mr-2'></i>&nbsp;</span>&nbsp;&nbsp;&nbsp; <span class='ml-3'><i class='fa fa-comments-o mr-2'></i>&nbsp;&nbsp;Reply</span> </div> </div> </div>";
                                        }
                                        $(".c"+idp).html(MSG);
                                    },
                                    error: function (data) {
                                        console.log("err",idarticle );
                                    },
                                });
                            },5000);







                        }); });

                });
            </script>
            <!--commentaire-->

        </div>
    </section>
{% endblock %}