{% extends 'base.html.twig' %}


{% block body %}
    <main id="main" class ="main">
    <table id="publications" class="table table-striped">
        <thead>
        <tr>

            <td>ID</td>
            <td>Redacteur Publication</td>
            <td>Date publication</td>
            <td>Contenu</td>
            <td>Image</td>

            <td>Action</td>

        </tr>
        </thead>
        <tbody>
        {% for i in p %}
            <tr>


                <td>{{ i.id }}</td>
                <td>{{ i.redacteurPub|title }}</td>
                <td>{{ i.datePub|format_datetime(locale='en') }}</td>
                <td>{{ i.contenu }}</td>
                <td>{{ i.note }}</td>

                <td class="table-light"><img src="{{ asset('/uploads/' ~ i.image ) }}" alt="img" class="image" style="max-height: 150px; width: 120px;" ></td>

                <td>
                    <form action="{{ path('suppPP',{'id':i.id}) }}">
                        <button>Supprimer</button></form>

                </td>

                </td>







            </tr>
        {% endfor %}
        </tbody>
    </table>
    </main>
{% endblock %}