{% extends 'front.html.twig' %}


{% block body %}
    <section class="testimonial-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <span>Testimonial</span>
                        <h2>Our cilent say</h2>
                    </div>
                </div>
            </div>
            <div class="ts_slider owl-carousel">
                <div class="ts_item">
                    <div class="row">
                        <tbody>
                        {% for i in c %}
                        <div class="col-lg-12 text-center">
                            <div class="ti_pic">
                                <img src="front/img/testimonial/testimonial-1.jpg" alt="">
                            </div>
                            <div class="ti_text">

                                    <h5>{{ i.redacteurCom|title }}</h5>
                                    <p>{{ i.dateCom|format_datetime(locale='en')}}</p>
                                <div class="pub">
                                    <p>{{ i.publication.contenu }}</p>
                                </div>
                            <div class="com">
                                <p>- {{ i.text }}</p>
                                <form action="{{ path('suppCC',{'id':i.id}) }}">
                                    <button>Supprimer</button></form>
                                <form action="{{ path('modifCC',{'id':i.id}) }}">
                                    <button>Modifier</button></form>
                                <a href="/ajoutC" class="primary-btn btn-normal appoinment-btn">Commenter</a>
                            </div>
                                <td class="table-light"><img src="{{ asset('/uploads/' ~ i.image ) }}" alt="img" class="image" style="max-height: 150px; width: 120px;" ></td>
                                <hr color="white">

                                <div class="tt-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <!---<a href="#" class="primary-btn btn-normal appoinment-btn">Commenter</a>-->
                            </div>
                        </div>
                        {% endfor %}
                        </tbody>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}